<!DOCTYPE html>
<html>
<head>
    <title>Список файлов</title>
     <script>
        function filterFiles() {
            let filterType = document.getElementById("fileFilter").value;
            let files = document.querySelectorAll(".file-item");
            files.forEach(file => {
                let mimeType = file.dataset.mime;
                if (filterType === "all" || mimeType.startsWith(filterType)) {
                    file.style.display = "block";
                } else {
                    file.style.display = "none";
                }
            });
        }
    </script>
</head>
<body>
    <h1>Список файлов</h1>
    <form method="get" action="{% url 'list_files' %}">
        <input type="text" name="public_key" value="{{ public_key }}" placeholder="Введите публичный ключ">
        <button type="submit">Получить список</button>
    </form>
    <p></p>
    <label for="fileFilter">Фильтр(тип файла):</label>
    <select id="fileFilter" onchange="filterFiles()">
        <option value="all">Все</option>
        <option value="application">Документы</option>
        <option value="image">Изображения</option>
        <option value="video">Видео</option>
    </select>

    {% if files %}
        <form method="post" action="{% url 'download_selected_files' %}">
            {% csrf_token %}
            <input type="hidden" name="public_key" value="{{ public_key }}">

            <ul>
                {% for file in files %}
                    <li class="file-item" data-mime="{{ file.mime_type }}">
                        <input type="checkbox" name="selected_files" value="{{ file.path }}">
                        {{ file.name }}
                        <a href="{{ file.download_url }}">Скачать</a>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Скачать выбранные файлы</button>
        </form>
    {% else %}
        <p>Загрузка данных... Подождите.</p>
    {% endif %}
</body>
</html>